<div>
  <% if r.user_rounds.map {|ur| ur.argument }.compact.blank? %>
    <div class="message">No plays yet.</div>
  <% else %>
    <% r.user_rounds.each do |ur| %>
      <% unless ur.argument.nil? and ur.played_headline.nil? %>
        <div>
          <h1><%= ur.played_headline.html_safe %></h1>
          <%= button_to "Select as winner", round_winner_path(ur) if current_user == @judge and !@round.winner_id %>
          <%= "Winner!" if @round.winner_id == ur.id %>
          <table class="discussion">
            <tr>
              <th>Argument:</th>
              <td><%= ur.argument %></td>
            </tr>
            <% unless ur.discussions.blank? %>
              <% ur.discussions.each do |arg| %>
                <tr>
                  <th>
                    <%= arg.user.name %>:
                  </th>
                  <td><%= arg.argument %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
          <% unless @round.winner_id %>
            <%= form_for Discussion.new(:user_round_id => ur.id, :user_id => current_user.id) do |f| %>
              <%= f.hidden_field :user_round_id %>
              <%= f.hidden_field :user_id %>
              <%= f.text_area :argument, :rows => 3, :cols => 70 %>
              <%= f.submit 'Discuss' %>
            <% end %>
          <% end %>

        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
