<div>
  <% if r.user_rounds.map {|ur| ur.argument }.compact.blank? %>
    <div class="message">No plays yet.</div>
  <% else %>
    <% r.user_rounds.each do |ur| %>
      <% unless ur.argument.blank? %>
        <div>
          <h1><%= ur.played_headline.title.html_safe %></h1>
          <p><%= ur.argument %></p>
          <%= link_to "Discuss", new_discussion_path(:user_round => ur) unless @round.winner_id %>
          <%= "Winner!" if @round.winner_id == ur.id %>
          <% unless ur.discussions.blank? %>
            <h3>Discussion</h3>
            <% ur.discussions.each do |arg| %>
              <p><%= arg.user.name %> says: <%= arg.argument %></p>
            <% end %>
          <% end %>
          <% if current_user == @judge and !@round.winner_id %>
            <%= button_to "Select as winner", round_winner_path(ur) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
