<div id="headlines">
  <h1>Please, play your headline, making a compelling argument.</h1>
  <div>
    <%= form_tag :action => :play do %>
      <input type="hidden" name="user_round[user_round]" value="<%= ur.id %>" />
      <% ur.headlines.each do |h| %>
        <div>
          <%= radio_button 'user_round', 'played_headline', h.id %>
          <%= h.title.html_safe %> <span class="link" rel="#headline_<%= h.id %>">Read more</span>
        </div>
        <div class="simple_overlay article" id="headline_<%= h.id %>">
          <%= h.body.html_safe %>
          <p><a rel="nofollow" target="_blank" href="<%= h.url.html_safe %>">Article</a></p>
        </div>
      <% end %>
      </br/>
      <%= label_tag :argument %><br/>
      <%= text_area 'user_round', 'argument', :cols => 100, :rows => 5 %><br/>
      <%= submit_tag %>
    <% end %>
  </div>
</div>
