<%= link_to "Leave game", round_leave_game_path(@round.id), :method => :post %>
<%= link_to "Reload", round_game_path(@round) %>

<% if current_user == @judge %>
  <%= link_to 'Finish round', round_finish_path(@round), :method => :post %>
<% end %>

<% players = @round.user_rounds.map{|r| r.user } %>
<% players.delete(@judge) %>

<div id="players" class="narrowcolumn">	

  <div class="player">
    <img src="<%= @judge.image_url %>" width="45" height="45" alt=""/ align="left"/>
    <p><b>Judge: </b><%= @judge.name %></p>
  </div>		

  <% players.each do |player| %>
    <div class="player">
      <img src="<%= player.image_url %>" width="45" height="45" alt=""/ align="left"/>
      <%= player.name %><br/>
      0 Points
    </div>		
  <% end %>

  <div id="topic"><%= @round.topic %></div>
</div>

<div id="play_space">
  <% if current_user == @judge %>
    <h1>Judging</h1>
    <%= render "discuss", :r => @round %>
  <% else %>
    <% if @user_round.argument.nil? %>
      <%= render "make_play", :ur => @user_round %>
    <% else %>
      <%= render "discuss", :r => @round %>
    <% end %>
  <% end %>
</div>

