<%= current_user.name %>
<div id="user_nav">  
  <%= link_to "Sign Out", signout_path %>  
</div>  
<%= link_to "Leave game", round_leave_game_path(@round.id), :method => :post %>
<%= link_to "Reload", round_game_path(@round) %>

<% if current_user == @judge %>
  <%= link_to 'Finish round', round_finish_path(@round), :method => :post %>
<% end %>

<div>
  Playaz: 
  <% players = @round.user_rounds.map{|r| r.user } %>
  <% players.delete(@judge) %>
  <%= players.map(&:name).to_sentence %>
</div>

<div>
  Judge: <%= @judge.name %>
</div>

<div>
  Topic: <%= @round.topic %>
</div>

<% if current_user == @judge %>
  <h1>Judging</h1>
  <%= render "discuss", :r => @round %>
<% else %>
  <% if @user_round.argument.blank? %>
    <%= render "make_play", :ur => @user_round %>
  <% else %>
    <%= render "discuss", :r => @round %>
  <% end %>
<% end %>
