<div id="user_nav">  
  <%= link_to "Sign Out", signout_path %>  
</div>  
<%= button_to "Leave game", round_leave_game_path(@round.id) %>
<div>
  Playaz: 
  <%= @round.user_rounds.map{|r| r.user.name }.join ", " %>
</div>

<div>
  Judge: <%= @judge.name %>
</div>

<div>
  Topic: <%= @round.topic %>
</div>

<div>
  <% @headlines.each do |h| %>
    <div><%= h.title %></div>
  <% end %>
</div>

