<div id="user_nav">  
  <%= link_to "Sign Out", signout_path %>  
</div>  
<%= button_to "Leave game", round_leave_game_path(@round.id) %>
<%= link_to "Reload", round_game_path(@round) %>
<div>
  Playaz: 
  <%= @round.user_rounds.map{|r| r.user.name }.join ", " %>
</div>

<div>
  Judge: <%= @judge.name %>
</div>

<div>
  Topic: <%= @round.topic %>
</div>

<% if @user_round.argument.blank? %>
  <div>
    <%= form_tag :action => :play do %>
      <% @user_round.headlines.each do |h| %>
        <div>
          <%= radio_button 'user_round', 'played_headline', h.id, :disabled => @user_round.played_headline.blank? %>
          <%= h.title.html_safe %>
        </div>
      <% end %>
      </br/>
      <%= label_tag :argument %><br/>
      <%= text_area 'user_round', 'argument', :cols => 100, :rows => 5 %><br/>
      <%= submit_tag %>
    <% end %>
  </div>

<% else %>

  <div>
    <% @round.user_rounds.each do |ur| %>
      <% unless ur.argument.blank? %>
        <div>
          <h1><%= ur.played_headline.title.html_safe %></h1>
          <p><%= ur.argument %></p>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
