<% unless current_user == @judge %>
  <%= link_to "Leave game", round_leave_game_path(@user_round), :method => :post %>
<% end %>

<% if current_user == @judge %>
  <%= link_to 'Finish round', round_finish_path(@round), :method => :post %>
<% end %>

<div id="players" class="narrowcolumn">	

  <div class="player">
    <img src="<%= @judge.image_url %>" alt=""/ align="left"/>
    <b>Judge:</b> <%= @judge.name %><br/>
    <%= @judge.score %> Points
  </div>		

  <% @round.user_rounds.each do |user_round| %>
    <% next if user_round.user == @judge %>
    <div class="player">
      <img src="<%= user_round.user.image_url %>" alt=""/ align="left"/>
      <%= user_round.user.name %><br/>
      <%= user_round.user.score %> Points
      <%= "<span class='left'>LEFT</span>".html_safe if user_round.left_game %>
    </div>		
  <% end %>

  <div id="topic"><%= @round.topic %></div>
</div>

<div id="play_space">
  <% if current_user == @judge %>
    <h1>Judging</h1>
    <%= render "discuss", :r => @round %>
  <% else %>
    <% if @user_round.played_headline.nil? and @user_round.argument.blank? %>
      <%= render "make_play", :ur => @user_round %>
    <% else %>
      <%= render "discuss", :r => @round %>
    <% end %>
  <% end %>
</div>

